<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'> Detection of Covid-19 from X-ray Images</div>
    <p>
      Test images of <strong>X-Rray</strong> to classify the Images into <strong>4 main Categories</strong> i.e., <strong>COVID-19 (AP) Patient</strong>, <strong>Normal (AP) Patient</strong>, <strong>Normal (PA) Patient</strong>, <strong>Viral Pneumonia (AP) Patient</strong>
    </p>
    <p>
      <strong>PA: </strong> Posterior-Anterior View, <strong>AP: </strong> Anterior-Posterior View
    </p>
    <p>
      Please upload images in <strong>.png / .jpg format</strong>. Crop the images to contain only the X-ray part in the image view.
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='400' width='400'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
