body {
    background-color: #D8D8D8;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 18px;
}

.title {
    font-size: 36px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 18px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 18px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #00C9FF;
    border: solid 2px #00A6FF;
    font-size: 16px;
    color: #000000;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 2px #00A6FF;
    border-radius: 3px;
    background-color: #00C9FF;
    font-size: 16px;
    color: #000000;
}

button:focus {
    outline: 0;
}
